body {
      text-align: center;
}
header {
   padding: 2em;
}
header img#flurdy-logo {
   width: 14em;
}
header img#github-logo {
   width: 4em;
}
ul.two-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.recent-hidden {
   display: none;
}
#more-info img#codeatflurdy-logo {
   width: 15em;
}
#more-info img#flurdy-logo-small {
   width: 3.5em;
}
