body {
      text-align: center;
}
header {
   padding: 2em;
}
header img#flurdy-logo {
   width: 14em;
}
header img#github-logo {
   width: 4em;
}
ul.repolist-many {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.recent-hidden {
   display: none;
}
